* {
box-sizing: border-box;
}
 

body{
    font-family: 'Zilla Slab';
    font-size: large;
}

ul{
     list-style-type: none;
 }

 /* Field 'Adcionar Exercicio' */

 .exercicio-container{
    max-width: 570px; 
    margin: 0 auto;
    padding: 15px 0;
    align-content: space-between;
    flex-wrap: wrap;
    
 }

 .exercicio-container input{
    margin-left: 10px;

 }

 .exercicio-container select{
     margin-left: 10px;
 }

 .exercicio-container button{
     margin-left: 10px;
 }


.lista{
    max-width: 570px;
    margin: 0 auto;
    display: flex;
    border: 1px solid black;
}

.lista ul {
    align-items: center;
}


#total{
    text-align: center;
}
input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}

input[type=date]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=date] { 
   -moz-appearance: textfield;
   appearance: textfield;

}